@model Salon.Models.Stylist;
@using Salon.Models;


<h1>Add a Stylist</h1>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)

    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)

    @Html.LabelFor(model => model.StylistTier)
    <p><em><i class="fas fa-question-circle" id="tier"></i> 1=Apprentice, 2=Stylist, 3=Master Stylist</em></p>
    @Html.TextBoxFor(model => model.StylistTier)
  
    <a href="/stylist" class="btn btn-info">Cancel</a>
    <button type="submit" value="Add Review" class="btn btn-info">Save Stylist</button>
}
